        <div id="footing">
            <p>
                Made in June 2016 by <a href="//twitter.com/alecglassford">Alec Glassford</a> for <href="//compjour.org">Dan Nguyen's Computational Journalism class</a> at Stanford. See the source at <a href="//github.com/alecglassford/cj-final">GitHub</a>.
            </p>
            <ul>
                Some tech credits:
                <li><a href="//www.seattle.gov/transportation/bikecounter.htm">Seattle's bike counter program</a> (you can find the raw data at the <a href="//data.seattle.gov/browse?limitTo=datasets&utf8=%E2%9C%93&q=bicycle%20counter&sortBy=last_modified">Seattle open data portal</a>)
                <li><a href="//developer.forecast.io/">The Dark Sky Forecast API</a> for weather</a>
                <li><a href="//www.kryogenix.org/code/browser/sorttable">Sorttable</a></li>
                <li><a href="//leafletjs.com/">Leaflet</a> and <a href="//first-news-app.readthedocs.io/en/latest/">IRE's First News App</a> for map implementation and inspiration</li>
                <li>A python drinking a frozen panda out of a flask?</li>
            </ul>
        </div>
    </body>
</html>
